.bottom-modal-appear {
  transform: translateY(100%);
}
.bottom-modal-appear-active {
  transform: translateY(0);
  transition: transform 200ms ease-in;
}
.bottom-modal-enter {
  transform: translateY(100%);
}
.bottom-modal-enter-active {
  transform: translateY(0);
  transition: transform 200ms ease-in;
}
.bottom-modal-exit {
}
.bottom-modal-exit-active {
  transform: translateY(100%);
  transition: transform 200ms ease-out;
}
