.cocktail-item {
  background: var(--color-faint-strong);
  font-size: inherit;
  padding: 1.8em 2em;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-radius: 1.2em;

  .cocktail-item_title {
    color: var(--color-base-weak);
    font-size: 1.6rem;
  }
}
