.cocktail-list-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  &.cocktail-list-page--block-scroll {
    pointer-events: none;
    z-index: -1;
  }

  .cocktail-list-page_header {
    flex-shrink: 0;
  }

  .main {
    flex: 1;

    .cocktail-list-page_list {
      position: absolute;
      top: 5rem;
      overflow: auto;
      bottom: 0;
      width: 100%;
    }
  }
}
