.cocktail-list {
  margin: 0;
  padding: 1.6em 1.6em 1em;
  background: var(--color-faint-strong);
  background-attachment: fixed;

  .cocktail-list_item {
    list-style: none;
    margin-bottom: 1.4em;
  }
}
